<!DOCTYPE html>
<html lang="en">
<head>
  <title
      data-th-text="|EXLIQUID Report – ${#temporals.format(report.date, 'dd.MM.yyyy')} – Report Hub|">
    EXLIQUID Report – 23.07.2022 – Report Hub
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link data-th-href="'/css/bootstrap.min.css'"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body>

<div data-th-replace="header :: navbar"></div>

<div class="container">

  <div class="row">
    <div class="col-12">
      <h2 data-th-text="|EXLIQUID  Report – ${#temporals.format(report.date, 'dd.MM.yyyy')}|">
        EXLIQUID Report – 23.07.2022
      </h2>

      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Diagnosis</th>
          <th class="text-end" scope="col">#Patients</th>
          <th class="text-end" scope="col">#Samples</th>
          <th class="text-end" scope="col">#Plasma Samples</th>
          <th class="text-end" scope="col">#PBMC Samples</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr data-th-each="stratum : ${report.strata}">
          <td data-th-text="${stratum.diagnosis}">C25</td>
          <td class="text-end" data-th-text="${stratum.patientCount}">42</td>
          <td class="text-end" data-th-text="${stratum.plasmaCount} + ${stratum.pbmcCount}">44</td>
          <td class="text-end" data-th-text="${stratum.plasmaCount}">23</td>
          <td class="text-end" data-th-text="${stratum.pbmcCount}">21</td>
        </tr>
        </tbody>
        <tfoot class="table-group-divider">
        <tr>
          <td></td>
          <td class="text-end" data-th-text="${report.totalNumberOfPatients}">23</td>
          <td class="text-end" data-th-text="${report.totalNumberOfSpecimen}">42</td>
          <td colspan="2"></td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>
