<!DOCTYPE html>
<html lang="en">
<head>
  <title data-th-text="${report.date.isPresent()} ? |Report – ${#temporals.format(report.date.get(), 'dd.MM.yyyy')} – Report Hub| : 'Report – ??? – Report Hub'">
    Report – 23.07.2022 – Report Hub
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link data-th-href="'/css/bootstrap.min.css'" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">

  <div class="row">
    <h1 data-th-text="${report.date.isPresent()} ? |Report – ${#temporals.format(report.date.get(), 'dd.MM.yyyy')}| : 'Report – ???'">Report – 23.07.2022</h1>
  </div>

  <div class="row" data-th-each="group : ${report.group}">
    <h2 data-th-text="${group.codeTextValue.orElse('N/A')}">Group: patient</h2>
    <h3>Populations</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Count</th>
      </tr>
      </thead>
      <tbody>
      <tr data-th-each="population : ${group.population}">
        <td data-th-text="${population.codeTextValue.orElse('N/A')}">Initial Population</td>
        <td data-th-text="${population.count.orElse(0)}">0</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
